/*@import url(http://fonts.googleapis.com/css?family=Tangerine);*/

body {
    min-width: 1170px;
}

#main {
    background: #dedede;
}

#top-nav {
    height: 4rem;
    background: #8C1B1A;
}

nav {
    max-width: 1400px;
    min-width: 1150px;
    padding: 0 0.5rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
nav #menu, nav #search, nav #account {
    font-family: "Open Sans", Arial;
}

#logo {
    text-decoration: none;
    width: 11rem;
    margin-right: 1rem;
}
#logo img {
    float: left;
    height: 2.5rem;
    padding-top: 0.75rem;
    margin-right: 0.4rem;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
#logo div {
    font-family: "Roboto Slab", Times;
    line-height: 4rem;
    color: #FFF;
    font-size: 1.2rem;
}

#menu .menu-link, #menu .dropdown-trigger {
    float: left;
}
#menu .dropdown-trigger, #menu .dropdown-link {
    position: relative;
}
#menu .menu-link {
    text-decoration: none;
    color: #FFF;
    line-height: 4rem;
    font-size: 0.9rem;
    padding: 0 0.75rem;
}
#menu .menu-link.current-page {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
#menu .dropdown-trigger:hover .menu-link, #menu .menu-link:hover {
    background: #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#menu .dropdown-link::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 3rem;
    left: 45%;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.3rem solid #FFF;
}
#menu .dropdown-container {
    position: absolute;
    z-index: 100;
    top: 4rem;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms;
}
#menu .dropdown-container .dropdown-content {
    position: relative;
    background: #444;
    padding: 0.5rem 1rem;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #FFF;
}
#menu .dropdown-container .dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#menu .dropdown-container .dropdown-content ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 0.8rem;
    line-height: 1.5rem;
}
#menu .dropdown-container .dropdown-content ul li a:hover {
    text-decoration: underline;
}
#menu .dropdown-trigger:hover #genres-list {
    height: 30rem;
}
#menu .dropdown-trigger:hover #community-list {
    height: 10rem;
}
#menu #genres-list {
    width: 60rem;
    margin-left: -11rem;
}
#menu #genres-list h5 {
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5em;
}
#menu #genres-list ul {
    -webkit-columns: auto 6;
    -moz-columns: auto 6;
    columns: auto 6;
    margin-bottom: 0.75rem;
}
#menu #community-list {
    margin-left: -10px;
    width: 9rem;
}

#search {
    margin: 1rem 2rem 0 auto;
    height: 2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
#search select, #search input {
    float: left;
    font-size: 0.8rem;
    height: 2rem;
    padding: 0 0.5rem;
    border: 0;
    margin: 0;
}
#search select {
    background-color: #DDD;
}
#search select option {
    background-color: #CCC;
}
#search select:hover, #search select:focus {
    background-color: #CCC;
}
#search input[type="submit"] {
    background: url(http://i.imgur.com/iOCcfFg.png) #DDD no-repeat center;
    width: 2rem;
    text-indent: 2rem;
    overflow: hidden;
}
#search input[type="submit"]:hover {
    background-color: #CCC;
}

#account {
    margin-right: 0;
    color: #EEE;
    line-height: 4rem;
    font-size: 0.9rem;
}
#account a {
    color: #EEE;
}
#account a:hover {
    color: #FFF;
}

#login-modal {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}
#login-modal .modal-overlay {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    text-align: center;
}
#login-modal .modal-overlay::after {
    content: "";
    width: 1px;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-right: -10px;
}
#login-modal .modal-overlay .modal-box {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    white-space: normal;
    font-family: "Open Sans", Arial;
    color: #555;
    width: 30rem;
    margin: 0 auto;
    padding: 2rem;
    background: #FFF;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
#login-modal .modal-overlay .modal-box a.close {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    display: block;
    width: 16px;
    height: 16px;
    background: url(http://i.imgur.com/3sYi8tb.png) no-repeat center;
    background-size: 70%;
    text-indent: 16px;
    overflow: hidden;
}
#login-modal .modal-overlay .modal-box .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
#login-modal .modal-overlay .modal-box form {
    display: block;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}
#login-modal .modal-overlay .modal-box form h5 {
    margin: 0;
}
#login-modal .modal-overlay .modal-box form .input-wrapper {
    position: relative;
}
#login-modal .modal-overlay .modal-box form .input-wrapper input {
    position: relative;
    z-index: 1;
    font-size: 0.8rem;
    box-sizing: border-box;
    width: 100%;
    padding: 0.4em;
    border: 1px solid #DDD;
    margin-top: 1.2rem;
    box-shadow: none;
    border-radius: 2px;
}
#login-modal .modal-overlay .modal-box form .input-wrapper label {
    position: absolute;
    top: 1.2rem;
    font-size: 11px;
    display: block;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
#login-modal .modal-overlay .modal-box form .input-wrapper input:valid + label {
    -webkit-transform: translate(0, -16px);
    transform: translate(0, -16px);
}
#login-modal .modal-overlay .modal-box form .spacer {
    margin: 0.5rem 0 1rem 0;
}
#login-modal .modal-overlay .modal-box form input[type="submit"] {
    background: #EEE;
    border: none;
    font-size: 0.9rem;
    float: right;
    padding: 0.5rem 0.8rem;
}
#login-modal .modal-overlay .modal-box form input[type="submit"]:hover {
    background: #DDD;
}
#login-modal .modal-overlay .modal-box form label, #login-modal .modal-overlay .modal-box form a {
    font-size: 0.8rem;
}
#login-modal .modal-overlay .modal-box form input[type="checkbox"] {
    display: inline;
    vertical-align: middle;
}
#login-modal .modal-overlay .modal-box form #pwd-reset-link {
    float: right;
    line-height: 2;
    color: #CC2726;
}
#login-modal .modal-overlay .modal-box #signup {
    padding-right: 1rem;
}
#login-modal .modal-overlay .modal-box #login {
    border-left: 1px solid #DDD;
    padding-left: 1rem;
}

#login-modal:target {
    height: 100%;
    opacity: 1;
}

#money-section div {
    max-width: 1400px;
    min-width: 1150px;
    padding: 0 0.5rem;
    margin: 0 auto;
}
#money-section div a {
    display: block;
    width: 728px;
    margin: 1rem auto;
}

#primary-content {
    font-family: "Open Sans", Arial;
}
#primary-content a {
    color: #CC2726;
    text-decoration: none;
}
#primary-content a:hover {
    color: black;
    background-color: #EEE;
}
#primary-content .call-to-action {
    display: inline-block;
    margin-top: 0.5rem;
}
#primary-content .call-to-action a {
    font-weight: bold;
    color: white;
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    background: #FF312F;
    box-shadow: 1px 1px 0 0 #ababab, 2px 2px 0 0 #b0b0b0, 3px 3px 0 0 #b5b5b5, 4px 4px 0 0 #bababa, 5px 5px 0 0 #bfbfbf, 6px 6px 0 0 #c4c4c4, 7px 7px 0 0 #c9c9c9, 8px 8px 0 0 #cfcfcf, 9px 9px 0 0 #d4d4d4;
}
#primary-content .call-to-action a:hover {
    background: #CC2726;
}
#primary-content .module-container {
    max-width: 1400px;
    min-width: 1150px;
    padding: 0 0.5rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#primary-content .module-container .module {
    margin-bottom: 1rem;
}
#primary-content .module-container .module.size-1-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 32%;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
}
#primary-content .module-container .module.size-2-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66%;
    -ms-flex: 0 0 66%;
    flex: 0 0 66%;
}
#primary-content .module-container .module h1 {
    font-family: "Roboto Slab", Times;
    font-weight: normal;
}

#recent-reviews {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
#recent-reviews h1, #recent-reviews .call-to-action {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}
#recent-reviews .album-review {
    position: relative;
    -webkit-flex-basis: 48%;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
    margin-bottom: 2rem;
}
#recent-reviews .album-review a.album-thumb {
    margin-right: 0.5rem;
    display: block;
    float: left;
    width: 12rem;
    height: 12rem;
    background-size: cover;
    text-decoration: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
#recent-reviews .album-review a.album-thumb p {
    display: block;
    margin: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    font-size: 0.8rem;
    padding: 0.5rem;
    font-weight: bold;
    line-height: 1.7;
}
#recent-reviews .album-review a.album-thumb p span {
    display: block;
    font-weight: normal;
    font-size: 0.9em;
}
#recent-reviews .album-review a.album-thumb:hover {
    text-decoration: underline;
    color: #FFF;
}
#recent-reviews .album-review .review-tagline {
    font-size: 0.75rem;
    margin-top: 0;
    max-height: 7.5rem;
    overflow: hidden;
}
#recent-reviews .album-review img.star-rating {
    display: block;
    width: 4.5rem;
}
#recent-reviews .album-review .review-writer {
    font-size: 0.7rem;
}
#recent-reviews .album-review .review-writer::after {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.5rem;
    font-weight: bold;
    color: #FFF;
    padding: 1px 3px;
    border-radius: 2px;
}
#recent-reviews .album-review .review-writer.user::after {
    content: "user";
    background: #666;
}
#recent-reviews .album-review .review-writer.staff::after {
    content: "staff";
    background: #FF312F;
}
#recent-reviews .album-review .review-writer.contributor::after {
    content: "contributor";
    background: #7F3F3E;
}
#recent-reviews .album-review a.review-link {
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
}

#trending-albums ol {
    counter-reset: item;
    list-style-type: none;
    padding: 0;
}
#trending-albums ol li {
    overflow: auto;
    margin-bottom: 0.4rem;
    background: #EEE;
}
#trending-albums ol li::before {
    display: block;
    float: left;
    content: counter(item) "";
    counter-increment: item;
    line-height: 2.5rem;
    width: 1.2rem;
    text-align: center;
    padding: 0 0.75rem;
    font-weight: bold;
}
#trending-albums ol li img {
    float: left;
    margin-right: 0.5rem;
    width: 2.5rem;
}
#trending-albums ol li img, #trending-albums ol li::before {
    height: 2.5rem;
}
#trending-albums ol li p {
    margin: 0.25rem 0;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1.5;
}
#trending-albums ol li p span {
    display: block;
    font-size: 0.95em;
    font-weight: normal;
}

#music-news h2 {
    border-bottom: 1px dotted #7F3F3E;
    font-size: 1rem;
    text-transform: uppercase;
}
#music-news .news-story {
    font-size: 0.85rem;
}
#music-news .news-story .news-headline {
    margin-right: 0.2rem;
}
#music-news .news-story .news-comments {
    display: inline-block;
    font-size: 0.65rem;
    color: #FFF;
    text-decoration: none;
    background: #999;
    padding: 1px 3px;
    border-radius: 2px;
}
#music-news .news-story .news-comments::after {
    content: " comments";
}
#music-news .news-story .news-comments:hover {
    background: #666;
}

#blog-posts h2 {
    font-size: 1.2rem;
    border-bottom: 1px dotted #7F3F3E;
    margin-bottom: 0.4rem;
}
#blog-posts .excerpt-details {
    margin-top: 0;
    font-size: 0.65rem;
}
#blog-posts .excerpt-details a {
    color: #FFF;
    text-decoration: none;
    background: #999;
    padding: 1px 3px;
    border-radius: 2px;
}
#blog-posts .excerpt-details a::after {
    content: " comments";
}
#blog-posts .excerpt-details a:hover {
    background: #666;
}
#blog-posts .excerpt-details span {
    text-transform: uppercase;
    font-weight: bold;
    float: right;
}
#blog-posts p {
    font-size: 0.8rem;
    margin: 0.5rem 0 1.25rem 0;
}

#staff-picks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
#staff-picks h1, #staff-picks .call-to-action {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}
#staff-picks .album-pick {
    display: block;
    -webkit-flex-basis: 49%;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
    margin-bottom: 0.9rem;
}
#staff-picks .album-pick img {
    float: left;
    width: 4rem;
    margin-right: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
#staff-picks .album-pick p {
    font-size: 0.75rem;
    margin: 0 0.4rem;
    line-height: 1.4;
    font-weight: bold;
}
#staff-picks .album-pick p span {
    font-size: 0.9em;
    display: block;
    font-weight: normal;
}

footer {
    font-size: 11px;
    color: #666;
    text-align: center;
    padding-bottom: 1rem;
}
